/** {
	border:1px solid red;
	}*/

body {
	
	background:linear-gradient(
				rgba(255, 255, 255, 0), 
				rgba(255, 255, 255, 1)), 
			    url("img/saturo.jpg"); 
	background-size: cover;
	
}

h4 {
	font-family: 'Lobster', cursive;
}


.logo {
	margin-top: -8px;
	font-size: 30px;
	font-family: 'Lobster', cursive;
	color: white;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;

}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

.dropdown-menu {
	background-color: #2e75a9;


}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #333;
	background-color: transparent;
}



.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: white;
	
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.col-md-4{
	text-align: center; 
	

}

.thumbnail {
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.cont2 {
	margin-top: 100px;
}


.article {
		margin-top: 50px;
	}

.footer {
		background-color: #f8f8f8;
		border: 1px solid #e7e7e7;
		margin-top: 25px;
	}

.footer .container p {
		margin-top: 30px;
	}



/*css about page*/

 .contabout {
 	margin-top: 50px;
	background-color: white;
	/*width: 70%;*/
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 


.box-foto {
	background:transparent;


}
.foto {
	margin-top: 100px;
}



.line {
	width:50px;
	height: 1px;
	background-color: #908e8c;
	border:none;
}

.info {
	padding: 20px 20px;
}




/*gallery page*/









/*media query start*/

@media screen and (max-width: 480px) {
	body {
	background:linear-gradient(
				rgba(255, 255, 255, 0), 
				rgba(255, 255, 255, 1)), 
			    url("img/saturo_w_1400.jpg"); 
	background-size: cover;
}

}